*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poetsen', sans-serif;
}

body {
    background: rgb(87, 84, 87);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}